/* BASE.CSS
 * Styles modifying the default bootstrap styles
 * No id selectors
 */

html {
    padding-bottom: 50px;
}

body {
    height: 100%;
    background-color: #fafafa;
}

#login {
    display: none;
}

html.loginPage {
    height: 100%;
}

html.loginPage > body {
    display: flex;
    align-items: center;
    justify-content: center;
}

html.loginPage nav,
html.loginPage section {
    display: none;
}

html.loginPage #login {
    display: block;
}

section {
    width: 100%;
    /*top right bottom left*/
    padding: 0 30px 0px 280px;
}

nav {
    width: 250px;
    position: fixed;
    left: 15px;
    top: 80px;
}

h1 {
    margin-bottom: 20px;
}

nav > ul.nav.nav-pills.nav-stacked.h4 {
    margin-top: 0;
}

nav > ul.nav.nav-pills.nav-stacked.h4 > li > a {
    color: grey;
}

nav > ul.nav.nav-pills.nav-stacked.h4 > li.active > a {
    color: white;
}

.half {
    width: calc(50% - 7.5px);
    float: left;
}

.half:nth-child(odd) {
    margin-right: 15px;
}

div.panel.panel-default > div.panel-heading.h5 {
    margin: 0;
    font-size: 16px;
}

div.panel table.table > tbody > tr > td:last-child {
    text-align: right;
    position: relative;
}

div.panel table.table > tbody > tr > td:last-child > a.btn {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    height: 36px;
    line-height: 24px;
}

table.table input {
    width: 2em;
}