.part {
    position: relative;
    width: 125px;
    height: 125px;
    margin: 5px;
    float: left;
    font-size: 14pt;
    white-space: normal;
    overflow: hidden;
    font-weight: 500;
    border-radius: 3px;
}

.part > div:first-child,
.part > div:last-child {
    height: 25px;
    color: white;
    font-size: 11pt;
    position: relative;
}

.part > div:first-child {
    padding-left: 5px;
    padding-top: 3px;
    background-color: grey;
}

/*Assume in stock*/
.part > div:last-child { 
    background-color: rgba(0, 128, 0, .7);
}

/*Out of Stock*/
.part > div:last-child.out { 
    background-color: rgba(255, 0, 0, .7);
}

.part > div:first-child > img {
    height: 20px;
    position: absolute;
    right: 5px;
    top: 3px;
}

.part > .info {
    border-left: solid 1px grey;
    border-right: solid 1px grey;
    height: calc(100% - 50px);
}

.part > .info > a.btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    position: absolute;
    left: 25px; /*hacky*/
}

.part > .info > div:first-child {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
}

.part > div:last-child > div:first-child {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.part > div:last-child > div:last-child {
    position: absolute;
    left: 5px;
    bottom: 5px;
}