#find .utilsForm > a.btn.btn-success {
    margin-left: 10px;
}

#find .utilsForm > a.btn > img {
    height: 20px;
}

#find .utilsForm .alert.alert-success {
    display: none;
}

#find .utilsForm > a.btn.btn-primary:empty {
    display: none;
}

#find td:last-child {
    width: 100px;
}