#kitBuilder div.form-horizontal .form-group {
    margin-bottom: 10px;
}

#kitBuilder .col-sm-2 {
    width: 25%;
    padding: 0px;
    padding-top: 7px;
}

#kitBuilder .col-sm-10 {
    width: 75%;
}

#kitBuilder div:first-child .utilsForm {
    background-color: #e7e7e7;
    padding: 10px 10px 0px 10px;
    border-radius: 5px;
}

#kitBuilder > div:first-child a.btn {
    display: none;
}

#kitBuilder div.panel-body {
    padding: 0;
}

#kitBuilder div.panel table.table {
    margin-bottom: 0;
}

#kitBuilder table.table i.fa {
    color: red;
    cursor: pointer;
}

#kitBuilder .utilsForm .alert.alert-success {
    display: none;
}

#kitBuilder .utilsForm > a.btn.btn-success {
    margin-left: 10px;
}

#kitBuilder .utilsForm > a.btn.btn-primary:empty {
    display: none;
}

#kitBuilder .utilsForm > a.btn > img {
    height: 20px;
}
