div#login.panel.panel-default {
    width: 400px;
}

div#login .col-sm-2 {
    width: 25%;
}

div#login .col-sm-10 {
    width: 75%;
}

div#login.panel.panel-default > div.panel-body {
    padding: 15px;
}

div#login .panel-body.loading {
    min-height: 162px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#login .panel-body img {
    display: none;
}

div#login .panel-body.loading img {
    display: block;
}