#partBuilder .utilsForm {
    width: calc(50% - 7.5px);
    float: left;
}

#partBuilder .utilsForm:nth-child(odd) {
    margin-right: 15px;
}

#partBuilder .utilsForm div:first-child .alert {
    margin-top: 20px;
    margin-bottom: 10px;
}

#partBuilder .col-sm-2 {
    width: 25%;
    padding: 0px;
    padding-top: 7px;
}

#partBuilder .col-sm-10 {
    width: 75%;
}

#partBuilder > .half .col-sm-10,
#partBuilder .form-horizontal > .form-group:first-child > .col-sm-10 {
    text-align: center;
}

#partBuilder div.form-horizontal .form-group {
    margin-bottom: 10px;
}

#partBuilder .locn select {
    margin-right: 10px;
    width: calc(33.333% - 6.666px);
    float: left;
}

#partBuilder .locn select:last-of-type {
    margin-right: 0px;
}

#partBuilder .utilsForm a.btn.btn-primary {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

#partBuilder .utilsForm:last-child {
    min-height: 577px;
    position: relative;
    padding-bottom: 34px;
}

#partBuilder .utilsForm:last-child a.btn.btn-success {
    position: absolute;
    bottom: 0;
    right: 0;
}