#sell .half .well {
    overflow: hidden;
    padding: 15px 81px 15px 15px;
    position: relative;
}

#sell .half .well span.h4 {
    line-height: 34px;
    margin: 0 15px 0 0;
    font-size: 16px;
}

#sell .half .well a.btn {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 66px;
    height: 66px;
    line-height: 52px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#sell .half .well:first-child > .half.form-group {
    margin-bottom: 0;
}

#sell > .half:nth-child(2) tbody tr > td:last-child {
    cursor: pointer;
    color: red;
}

#sell > #continueBtn {
    min-width: 122px;
}

#sell > #continueBtn > img {
    height: 23px;
}

/*PART FINAL STYLES*/
/*hide the form submit button*/
#sell > .well:last-child > .utilsForm a {
    display: none;
}

/*remove margin from the bottom field in the form*/
#sell > .well:last-child > .utilsForm .form-group:last-child {
    margin-bottom: 0;
}

#sell > .well:last-child {
    position: relative;
}

#sell > .well:last-child > .total {
    position: absolute;
    bottom: 20px;
}

/*The cancel button*/
#sell > .well:last-child > a:first-of-type {
    position: absolute;
    right: 142px;
    bottom: 20px;
}

/*The purchase button*/
#sell > .well:last-child > a:last-of-type {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#sell > .well:last-child > .items {
    margin-bottom: 80px;
}

#sell > .well:last-child > .items > div {
    position: relative;
    width: 100%;
}

#sell > .well:last-child > .items > div > span {
    position: absolute;
    right: 0;
}

#sell > .well:last-child .col-sm-2 {
    padding: 0;
    font-size: 18px;
    font-weight: 500;
}

#sell > .well:last-child > hr {
    border-color: grey;
}

#sell > .well:last-child > h3:first-child {
    margin-top: 0;
    margin-bottom: 20px;
}