div#edit .buttons .panel {
    margin-top: 15px;
}

div#edit .buttons .panel-heading {
    position: relative;
}

div#edit .buttons .panel-heading a.btn {
    position: absolute;
    top: -1px;
    right: -1px;
    border-radius: 0;
    border-top-right-radius: 4px;
    height: 39px;
    line-height: 25px;
}

div#edit .buttons .panel tbody td[colspan="4"] {
    text-align: center;
    height: 100px;
    line-height: 100px;
}

div#changePassword .col-sm-2 {
    width: 30%;
}

div#changePassword .col-sm-10 {
    width: 70%;
}

nav > ul > li:last-child > a > span.badge {
    position: relative;
    top: -1px;
}


div#fakePanel a.btn {
    position: initial;
    border-radius: 4px;
}

div#fakePanel table {
    table-layout: fixed;
}

div#fakePanel td,
div#fakePanel th {
    width: 25%;
}